*{
    margin: 0;
    padding: 0;
}
body{
    background-color: lightgray;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }
/* --------
---------Top Bar Style */
.hero-nav{
    display: flex;
    justify-content: space-between;
    background-color: black;
    width: 100%;
    height: 60px;
    align-items: center;
    position: fixed;
    top: 0;
    border-bottom: 1px solid gray;
    z-index: 2;
}
.search{
    margin-right: 30px;
}
.search input{
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    border: none;
    background-color: white;
    position: relative;
}
.search input:focus{
    outline: none;
}
.search button{
    position: absolute;
    width: 100px;
    padding: 6px;
    border-radius: 6px;
    border: none;
    right: 35px;
    top: 15px;
    background-color: black;
    color: white;
}

.top-menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-menu ul li{
    list-style-type: none;
}
.top-menu ul li a{
    text-decoration: none;
    margin-left: 50px;
    margin-right: 50px;
    color: white;
    font-size: 20px;
}


.box{
    display: flex;
    margin: 100px 0 0 20px;
    /* border: 3px solid black; */
}

/* ----------------
----------Left Side Style */
.left-side{
    width: 250px;
    height: 750px;
    /* overflow-y: scroll; */
    background-color: black;
    position: fixed;
    left: 0;
    top: 0;
    border-right: 1px solid gray;
}
.logo img{
    width: 150px;
    margin-left: 30px;
    margin-top: 12px;
}

.left-menu ul{
    padding: 18px 0px 18px 0 ;
    margin-top: 30px;
}
.left-menu ul li:first-child{
    background-color: white;
    color: black;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 20px;
    font-weight: 400;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.left-menu>ul>li{
    list-style-type: none;
    padding: 12px;
    margin: 0 0 5px 20px;
    color: lightgray;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1.5px;
    border-bottom: 1px solid gray;
    /* overflow: hidden; */
}
.left-menu>ul>li:hover{
    transform: scale(1.1);
    transition: transform 0.5s;
}

/* ------------
------------Right Side Style */
.right-side{
    flex-grow: 1;
    margin: 0px 50px 0px 250px;
}
/* Title Bar */
.title-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.left-title p{
    color: black;
}

/* Detail Box Style */

.detail-box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.d-box{
    width: 250px;
    height: 150px;
    background-color: black;
    border-radius: 10px;
    padding: 0px 20px;
}
.d-box{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.detail-icon i{
    font-size: 50px;
    color: white;
}
.percent-1{
    color: blue;
}
.percent-2{
    color: red;
}
.percent-3{
    color: greenyellow;
}
.d-box h1,p{
    color: white;
}


/* ------------Grid Box */
.grid-flex{
    display: flex;
    justify-content: center;
}
.grid-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.grid{
    background-color: white;
    width: 350px;
    height: 450px;
    border-radius: 10px;
}
.grid-1{
    grid-column: span 2;
    width: 730px;
}
.grid-6{
    grid-column: span 3;
    width: 1100px;
    height: 800px;
}

/* Grid Box Style */
.grid hr{
    color: rgba(207, 207, 207, 0.307);
}
.grid h1{
    margin: 8px 50px;
    font-size: 25px;
    color: gray;
}
.text-mark{
    display: flex;
}
.text-mark h6{
    margin-right: 10px;
}
.mark-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 50px;
}
.chart{
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.chart-menu-bar{
    display: inline;
    position: relative;
}
.chart-menu-bar:hover .chart-menu{
    display: block;
}
.chart-menu{
    position: absolute;
    background-color: gray;
    padding: 10px ;
    width: 130px;
    height: 100px;
    text-align: center;
    right: 0;
    display: none;
    border-radius: 5px;
}

.chart-menu ul li{
    list-style-type: none;
    color: white;
    font-size: 15px;
    margin-bottom: 20px;
}
canvas{
    width: 100%;
    max-width: 640px
}

/* Grid Box 2 Chart CSS start */
.circel-container{
    display: flex;
    justify-content: center;
}
.circle{
    position: relative;
    width: 200px;
    height: 200px;
    background: #bdc3c7;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    overflow: hidden;  
    margin-top: 50px;
    z-index: 1;
  }
  
  .fill{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80%;
    background: blue;
  }
  
  .score{
    position: absolute;
    width: 100%;
    top: 100px;
    text-align: center;
    font-family: Arial, sans serif;
    color: #fff;
    font-size: 40pt;
    line-height: 0;
    font-weight: normal;
  }

  .order-amount{
    display: flex;
    justify-content: space-between;
    margin: 50px 30px;
  }
  .order-amount p{
    color: black;
  }
  .order-detail{
    text-align: center;
  }
  #order-dot-1{
    color: blue;
  }
  #order-dot-2{
    color: gray;
  }
  /* Chart-2 Style end */

/* Grid Box 6 style */
.pagination{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 30px 10px 30px;
}
.pagination input{
    padding: 8px;
}
.pagination input:focus{
    outline: none;
}

/* Table Style */
.table{
    display: flex;
    justify-content: center;
}
table{
    border-collapse: collapse;
    width: 95%;
    margin-top: 20px;
}
th,td{
    border: 1px solid rgba(128, 128, 128, 0.341);
    padding: 8px 10px;
}
.name{
    display: flex;
    align-items: center;
}
.name img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.btn .btn-1{
    background-color: black;
    padding: 10px 12px;
    border-radius: 5px;
    border: none;
}
.btn .btn-2{
    background-color: red;
    padding: 10px 12px;
    border-radius: 5px;
    border: none;
}
.btn> button{
    color: white;
}

/* Bottom Pagination */
.bottom-pagination{
    display: flex;
    justify-content: space-between;
    margin: 20px 30px;
    border-collapse: collapse;
    align-items: center;
}
.page-no a{
    border: 1px solid lightgray;
    padding: 8px 16px;
    float: left;
    text-decoration: none;
    color: black;
}
.page-no a.active{
    background-color: black;
    color: white;
}

/* Grid Box 3 Style */
.timeline-1{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.timeline-1>h6{
    padding: 3px 8px;
    background-color: blue;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 10px;
    height: 10px;
}
.time{
    position: relative;
}
.time:before{
    content: "";
    position: absolute;
    top: 45px;
    border-left: 1px solid gray;
    bottom: 0;
    left: 30px;
    height: 40px;
}
.left-time{
    display: flex;
    align-items: center;
    margin: 6px;
}
.left-time i{
    font-size: 20px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 50%;
    background-color: lightgray;
    margin-right: 10px;
}
.time-info>span{
    font-weight: 600;
}
.time-info>p{
    color: black;
}

/* Footer Style */

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
.footer-menu ul{
    display: flex;
}
.footer-menu ul li{
    list-style-type: none;
    margin-left: 15px;
    font-size: 18px;
    color: gray;
}
.footer-logo{
    font-size: 12px;
    color: gray;
    text-transform: uppercase;
}
.copyright{
    font-size: 30px;
    color: gray;
}